/* Ranking for music and books */
.music-Body, .book-Body {
    height: 100vh;
}

.rank {
    .row:first-child,
    col {
        height: fit-content;
    }
}

.ranking-list {
    height: 60%;
}

/* Book */
.book-resume, .music-lyrics {
    background-color: rgb(214, 214, 214, 0.800);

    p {
        color: $grey-light;
        font-weight: 600;
        font-style: italic;
    }
}