/* Footer */
footer {
    background-color: $dark-black;
}

.portrait {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (min-width: 992px) {
    footer {
        position: absolute;
    }
}

@media screen and (max-width: 991px) {
    footer {
        position: static;
    }
}