/* Text Format */
a.header {
    color: $icons;
}

p {
    color: $light-white;
}

p.subtitle {
    @extend p;
    margin-top: -1%;
    margin-bottom: -0.2rem;
}

a.footer {
    all: unset;
    cursor: pointer;
    font-size: large;
    margin-left: 5%;
    color: $icons;
}